body {
    background: #f2f2f2;
}

.login {
}

.login .left-col {
    background: url("../img/login_bg.jpg") center center;
    height: 100vh;
}

.login .left-col h3, .login .left-col p {
    color: #fff;
    position: relative;
}

.login .left-col .content-middle {
    position: absolute;
    top: 35%;
}

.login .right-col {
    flex: 1;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mg-t-10 {
    margin-top: 10px;
}

.mg-t-20 {
    margin-top: 20px;
}

.no-gutters {
    padding: 0;
}

.sidebar {
    background: #fff;
    height: 100vh;
    -webkit-box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, .15);
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, .15);
}

.sidebar .nav {
    padding-top: 15px;
    padding-bottom: 15px;
}

.sidebar .nav img {
    width: 50px;
}

.sidebar .profile {
    padding: 15px 0;
    text-align: center;
}

.sidebar .profile img {
    width: 50px;
}

.sidebar .menu {

}

.sidebar .menu .list-group {
    margin: 0;
}

.sidebar .menu .list-group .list-group-item {
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
}

.content {
    padding-top: 54px;
}

.content .navbar-inverse {
    border-radius: 0;
    position: fixed;
    width: inherit;
    top: 0;
    margin-bottom: 0;
    z-index: 999;
}

.content .navbar-default {
    border-radius: 0;
}

.content .navbar-default .breadcrumb {
    margin: 0;
    padding: 15px;
}

.content .navbar-default .btn {
    margin: 7px;
}

.content .navbar-default .icon-circle {
    background: #5bc0de;
    color: #fff;
    width: 36px;
    height: 36px;
    line-height: 36px;
    margin-top: -15px;
    border-radius: 50%;
    text-align: center;
}

.content .navbar .nav-profile {
    height: 40px;
}

.content .widgets-wrapper {

}

.content .widgets-wrapper .widget {
    background: #fff;
    height: 120px;
    -webkit-box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.15);
    padding: 20px;
}
