<!DOCTYPE html>
<html lang="en" ng-app="cde">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body ng-controller="loginController">

<div class="container-fluid">
    <div class="row login">

        <div class="col-lg-3 left-col">

            <div class="row">
                <div class="col-lg-12">
                    <img src="img/logo.png">
                </div>
            </div>

            <section class="content-middle">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="text-center">
                            THE ULTIMATE & MULTIPURPOSE ADMIN TEMPLATE OF 2017
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p class="text-center"> with this admin you can get 2000+ pages, 500+ ui component, 2000+ icons,
                            different demos and many more...</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <button class="btn btn-danger">Buy Now</button>
                    </div>
                </div>
            </section>
        </div>

        <div class="right-col">

            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-4">
                        <h4 class="text-uppercase">Sign in to admin</h4>
                        <p>Enter your detail below</p>
                    </div>
                </div>
                <div class="row mg-t-20">
                    <div class="col-lg-4 col-lg-offset-4">

                        <form ng-submit="doLogin()">

                            <div class="form-group">
                                <label for="exampleInputEmail1" class="text-uppercase">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" name="email" required
                                ng-model="email">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="text-uppercase">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1"
                                       placeholder="Password" name="password" required ng-model="password">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="is_remember_me"> Remember me
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Login</button>
                            <a href="/forgot-password.html" class="btn btn-link btn-block">Forgot Password?</a>
                            <p class="text-danger">{{error}}</p>
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>

<script src="js/bundle.js"></script>
</body>
</html>